<hello name="{{ name }}"></hello>
<p>
1 Generate a new Angular Application (without routing).

2 Generate at three components: "Home", "About" and "Contact".

3 Redirect to the "HomeComponent" on the root route.

4 The "HomeComponent" should dynamically render either the "About" 
or "Contact" page depending on the url.

5 Highlight the active route.

6 Create two buttons that programmatically route to both components.

7 Create two child components of the "About" page... the routes being: "about/bob" and "about/susan".

8 Create a button on the "About" page that displays one of these components at a time.

9 Bonus: Add a 404, page not found that displays when url is not recognized
</p>

<router-outlet></router-outlet>